@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Roboto+Condensed&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Roboto Condensed", sans-serif;
  --font-heading: "Mozilla Text", sans-serif;

/* Primary */
  --color-primary: #a2c3ff;
  --color-primary-hover: #3b6ea8;

  /* Accent */
  --color-secondary: #d9f3ef;
  --color-button: #50e0fa;

  /* Status */
  --color-success: #31c266;
  --color-warning: #ffb12b;
  --color-danger: #dc2626;

  /* Backgrounds */
  --color-background: #f8fafc;
  --color-surface: #c5d2e2;

  /* Borders */
  --color-border: #cbd5e1;

  /* Text */
  --color-text: #1e293b;
  --color-text-hover: #285e5a;
  --color-text-muted: #64748b;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    box-sizing: border-box;
  }

  body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  div {
    box-sizing: border-box;
  }
}

.var {
 --color-primary: #a2c3ff;
  --color-primary-hover: #3773cc;
  --color-secondary: #defaf5;

  /* Status Colors */
  --color-success: #31c266; /* Green */
  --color-warning: #ffb12b; /* Amber */
  --color-danger: #dc2626; /* Red */
  --color-button: #50e0fa; /* Red */

  /* Backgrounds */
  --color-background: #f8fafc;
  --color-surface: #c5d2e2;

  /* Borders */
  --color-border: #4a77bb;

  /* Text */
  --color-text: #1f2937;
  --color-text-hover: #0e2c2a;
  --color-text-muted: #6b7280;

  /* Text */
  --color-text: #1f2937;
  --color-text-hover: #adf3ed;
  --color-text-muted: #6b7280;

}
