@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Roboto+Condensed&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Roboto Condensed", sans-serif;
  --font-heading: "Mozilla Text", sans-serif;

  --color-primary: #7eaff8;
  --color-primary-hover: #1558c0;
  --color-secondary: #defaf5;

  /* Status Colors */
  --color-success: #16a34a; /* Green */
  --color-warning: #ebae45; /* Amber */
  --color-danger: #dc2626; /* Red */
  --color-button: #52dad3; /* Red */

  /* Backgrounds */
  --color-background: #f8fafc;
  --color-surface: #d2eff8;

  /* Borders */
  --color-border: #d1d5db;

  /* Text */
  --color-text: #1f2937;
  --color-text-hover: #adf3ed;
  --color-text-muted: #6b7280;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
  }

  body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.var {
 --color-primary: #7eaff8;
  --color-primary-hover: #3773cc;
  --color-secondary: #defaf5;

  /* Status Colors */
  --color-success: #16a34a; /* Green */
  --color-warning: #ebae45; /* Amber */
  --color-danger: #dc2626; /* Red */
  --color-button: #7fc7bd; /* Red */

  /* Backgrounds */
  --color-background: #f8fafc;
  --color-surface: #d2eff8;

  /* Borders */
  --color-border: #4a77bb;

  /* Text */
  --color-text: #1f2937;
  --color-text-hover: #0e2c2a;
  --color-text-muted: #6b7280;

  /* Text */
  --color-text: #1f2937;
  --color-text-hover: #adf3ed;
  --color-text-muted: #6b7280;

}
